@using TurboazTask1.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
}

@model List<Car>

<h1>Cars Page</h1>

@foreach (Car car in Model)
{
        <ul>
            <li>
                <a asp-controller="Car" asp-action="Detail" asp-route-id="@car.CarId"> CarName: @car.Name </a>
            </li>
        </ul>
}

